/* Responsive */

/* Extra large devices (large desktops, 75em and up) */
@media (max-width: 75em) { 

}

/* Large devices (desktops, 62em and up) */
@media (max-width: 62em) {
    h2 {
        font-size: 2.4rem;
    }
    body {
        font-size: 16px;
    }
    .button {
        padding: 1.5rem 2rem;
    }
    #featured-items {
        padding: 8rem 0 6rem 0;
        .featured-wrapper {
            margin-bottom: 3rem;
            .featured-content {
                h3 {
                    font-size: 1.8rem;
                }
            }
        }  
    }
    .birthdays .featured-wrapper .featured-content .person .name {
        padding-left: 4rem;
    }
    .sub-menu {
        display: none;
    }
    .widthcalc {
        width: 5% !important;
    }
    .flickity-prev-next-button {
        bottom: 6rem;
    }
    .flickity-prev-next-button.previous {
        right: 10rem;
    }
    .flickity-prev-next-button.next {
        right: 5%;
    }
    #mobile-header, #mobile-nav {
        display:block;
    }
}

/* Medium devices (tablets, 48em and up) */
@media (max-width: 48em) { 
    
}
@media (max-width:767px) {

}
/* Small devices (landscape phones, 34em and up) */
@media (max-width: 34em) {

}
